---
import '../styles/index.css'
---

<html lang="en">
	<head>
		<!-- <link rel="stylesheet" href="index.css"> -->
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="header strokeme" id="myHeader">
			<h2>OptimalEats</h2>
			
		  </div>

		<table class="greenTable">
			<thead>
			<tr>
			<th>head1</th>
			<th>head2</th>
			<th>head3</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td>
			<p>Recipe</p>
			<p>Calories</p>
			</td>
			<td>
			<p>Recipe</p>
			<p>Calories</p>
			</td>
			<td>
			<p>Recipe</p>
			<p>Calories</p>
			</td>
			</tr>
			<tr>
			<td>
			<p style="background-color: #eeeeee;">Recipe</p>
			<p style="background-color: #eeeeee;">Calories</p>
			</td>
			<td>
			<p style="background-color: #eeeeee;">Recipe</p>
			<p style="background-color: #eeeeee;">Calories</p>
			</td>
			<td>
			<p style="background-color: #eeeeee;">Recipe</p>
			<p style="background-color: #eeeeee;">Calories</p>
			</td>
			</tr>
			<tr>
			<td>
			<p>Recipe</p>
			<p>Calories</p>
			</td>
			<td>
			<p>Recipe</p>
			<p>Calories</p>
			</td>
			<td>
			<p>Recipe</p>
			<p>Calories</p>
			</td>
			</tr>
			<tr>
			<td>
			<p style="background-color: #eeeeee;">Recipe</p>
			<p style="background-color: #eeeeee;">Calories</p>
			</td>
			<td>
			<p style="background-color: #eeeeee;">Recipe</p>
			<p style="background-color: #eeeeee;">Calories</p>
			</td>
			<td>
			<p style="background-color: #eeeeee;">Recipe</p>
			<p style="background-color: #eeeeee;">Calories</p>
			</td>
			</tr>
			<tr>
			<td>
			<p>Recipe</p>
			<p>Calories</p>
			</td>
			<td>
			<p>Recipe</p>
			<p>Calories</p>
			</td>
			<td>
			<p>Recipe</p>
			<p>Calories</p>
			</td>
			</tr>
			<tr>
			<td>
			<p style="background-color: #eeeeee;">Recipe</p>
			<p style="background-color: #eeeeee;">Calories</p>
			</td>
			<td>
			<p style="background-color: #eeeeee;">Recipe</p>
			<p style="background-color: #eeeeee;">Calories</p>
			</td>
			<td>
			<p style="background-color: #eeeeee;">Recipe</p>
			<p style="background-color: #eeeeee;">Calories</p>
			</td>
			</tr>
			<tr>
			<td>
			<p>Recipe</p>
			<p>Calories</p>
			</td>
			<td>
			<p>Recipe</p>
			<p>Calories</p>
			</td>
			<td>
			<p>Recipe</p>
			<p>Calories</p>
			</td>
			</tr>
			</tbody>
			</table>
	</body>
</html>
